<?php
/**
 * Path for your application directory. Do not change!
 */
define ('APP_INCLUDE_ABSPATH', dirname(__FILE__) . '/');

require_once dirname(__FILE__) . '/config.php';

/**
 * The Gyro version to use
 */
#define('APP_VERSION_MAX', 0.5);

/**
 * Define Language
 */
#define('APP_LANG', 'de');

/**
 * The title of the application
 *
 * @var String
 */
define('APP_TITLE', 'Gyro Application');

/**
 * Charset
 */
define('APP_CHARSET', 'UTF-8');

/**
 * Number of items in lists (=per page for paging) 
 */
define('APP_ITEMS_PER_PAGE', 10);

/**
 * Set path to Gyro, if not set
 */ 
#if (!defined('APP_GYRO_PATH')) define ('APP_GYRO_PATH', '/path/to/gyro/');