<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="core">
            <directory>tests/core</directory>
        </testsuite>
        <testsuite name="contributions">
            <directory>tests/contributions</directory>
        </testsuite>
    </testsuites>
</phpunit>
