.socialbookmarking li {
	list-style-type: none;
	list-style-position: outside;
	display: inline;
	margin: 0;
	padding: 0;
}

.socialbookmarking li img {
	display: inline;
	margin: 0;
	padding: 0;
	float: none;
}

.socialbookmarking li a {
	display: inline;
	margin: 0;
	padding: 0.25em;
}

.socialbookmarking li.first a {
	padding-left: 0;
}

.socialbookmarking li.last a {
	padding-right: 0;
}
