 /**
  * textfilter form inline
  */
.textfilter form div { display: inline; }
.textfilter form input { display: inline; }

/**
 * Item Menu
 */
.list_menu {
	margin: 0 0 1em 0;
	text-align: right;
}

.list_menu form {
	padding: 0;
	display: inline;
}

.list_menu ul {
	font-size: 1em;
	list-style-type: none;
	margin: 0;
}
	
.list_menu li {
	display: inline;
	margin: 0 0 0 20px;
	padding: 0;
	font-weight: bold;
}


.list_menu a {
	font-weight: bold;
	letter-spacing: 0;
	padding: 2px 2px;
}

/**
 * Breadcrumb
 */
.breadcrumb {
	margin-bottom: 1em;
}

/**
 * Warning, note etc.
 */
.error { background:#fee; color:#400; border:2px #844 solid; padding:10px; margin-bottom:1em; }
.note, .info { background:#f8f8f8; color:#666; padding:10px; margin-bottom:0.5em; font-size:91.7%; }
.success { background:#efe; color:#040; border:2px #484 solid; padding:10px; margin-bottom:1em; }
.warning, .important { background:#ffe; color:#440; border:2px #884 solid; padding:10px; margin-bottom:1em; }

 