# downtime....
# RewriteRule ^(.*)$ downtime.php [L,QSA]

AddDefaultCharset utf-8
Options -Multiviews
Options -Indexes

<IfModule mod_php5.c>
	php_value magic_quotes_gpc                0
	php_value register_globals                0
	php_value session.auto_start              0
</IfModule>

### BEGIN OPTIONS ###

### END OPTIONS  ###

RewriteEngine On
RewriteBase /

### BEGIN REWRITE ###

### END REWRITE   ###

RewriteCond $1 !^favicon.ico|^css|^js
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=$1 [L,QSA]

# On nginx, the rule would be this:
# location / {
#    root   {app_core_dir}/app/www;
#    # Example: /var/www/gyro-php.org/app/www
#    index  index.php;
#
#    if (!-e $request_filename) {
#        rewrite  ^/(.*)$  /index.php?path=$1  last;
#       break;
#    }
# }
