@CHARSET "UTF-8";

.notifications-latest {
	height: 20em;
	max-height: 20em;
	overflow: auto;
	margin-bottom: 1em;
}

.notification-item {
	border: 1px solid #ccc;
	padding: 0.5em;
	margin: 0.5em 0;
	-webkit-border-radius: 0.5em;    /* for Safari */
    -moz-border-radius: 0.5em;       /* for Firefox */
    border-radius: 0.5em; 	
}

.notification-item h3 {
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 0 0 0 16px;
	background: white url(images/bg_notifications_new.png) left 50% no-repeat; 
}

.notification-item .message {
	font-size: 1em; 
}

.notification-item.read {
	color: #777;
}

.notification-item.read h3 {
	background-image: url(images/bg_notifications_read.png);
}
